*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

span,
a {
  display: inline-block;
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

body {
  font-family: "SF Pro Display";
  overflow-x: hidden !important;
  font-weight: 300;
  line-height: 160%;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.header .top {
  padding-block: 8px;
  width: 100%;
  background: var(--colors-slate-100, #f1f5f9);
}
.header .top .top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.header .top .list {
  display: flex;
  gap: 32px;
}
.header .top .list__item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header .bottom .top-box {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 104px;
}
.header .bottom .left-box {
  display: flex;
  align-items: end;
  gap: 32px;
}
.header .bottom .search-menu {
  display: flex;
  gap: 12px;
  align-items: center;
}
.header .bottom .catalog {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--colors-slate-900, #0f172a);
  padding: 15px 16px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}
.header .bottom .search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  max-width: 348px;
  border-radius: 12px;
  background: var(--colors-slate-100, #f1f5f9);
  overflow: hidden;
}
.header .bottom .search {
  border: none;
  background: none;
  outline: none;
  width: 100%;
}
.header .bottom .search-btn {
  border: none;
  background: none;
}
.header .right-box {
  display: flex;
  gap: 8px;
}
.header .right-box .list {
  display: flex;
  gap: 12px;
}
.header .right-box .list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px;
  border-radius: 12px;
  background: var(--colors-slate-100, #f1f5f9);
  cursor: pointer;
}

.nav {
  margin-top: 24px;
}
.nav__list {
  display: flex;
  list-style: none;
  gap: 8px;
}
.nav__item {
  border-radius: 900px;
  border: 1px solid var(--colors-slate-200, #E2E8F0);
}
.nav__link {
  display: flex;
  gap: 8px;
  padding: 4px 14px 4px 4px;
  align-items: center;
}

.swiper-pagination {
  position: absolute;
  bottom: -4px !important;
  left: -238px !important;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 2px;
  border-radius: 0;
  background: #FFFFFF;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

.right-box .swiper .swiper-pagination {
  position: absolute;
  bottom: -7px !important;
  left: 53px !important;
}

.bottom .info {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  vertical-align: middle;
  margin: 0;
}

.nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  vertical-align: middle;
  color: black;
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 56px;
}
.intro .top {
  margin-block: 32px 24px;
}
.intro .container {
  display: flex;
  justify-content: space-between;
}
.intro .left-box {
  width: 799px;
  background-image: url("../img/bc-img-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
  padding: 32px;
}
.intro .left-box .bargain {
  color: black;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 900px;
  max-width: 120px;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  vertical-align: middle;
}
.intro .left-box .title {
  font-weight: 500;
  font-size: 40px;
  color: #fff;
  line-height: 110%;
  max-width: 347px;
  margin-top: 31px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  vertical-align: middle;
}
.intro .left-box .desc {
  color: #fff;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  vertical-align: middle;
}
.intro .left-box .choose-btn {
  padding: 14px 16px;
  background-color: #0F172A;
  color: #fff;
  font-weight: 500;
  border-radius: 12px;
  margin-bottom: 24px;
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  vertical-align: middle;
}
.intro .left-box .content-box {
  position: relative;
  display: flex !important;
  flex-direction: column;
}
.intro .right-box {
  background: radial-gradient(89.28% 98.65% at 77.86% 13.62%, #fdc830 0%, #f37335 100%);
  width: 384px;
  border-radius: 32px;
  justify-content: space-between;
  opacity: 1;
  padding: 32px;
}
.intro .right-box .content-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.intro .bargain-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.intro .time-box {
  display: flex;
  gap: 2px;
  align-items: center;
}
.intro .time-box .time {
  color: black;
  background-color: #fff;
  display: flex;
  border-radius: 8px;
  padding: 9px;
}
.intro .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #fff;
}
.intro .cart {
  display: flex;
  gap: 16px;
  align-items: center;
}
.intro .cart .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}
.intro .cart .sale {
  display: flex;
  opacity: 0.7;
  justify-content: space-between;
  color: #fff;
  margin-block: 8px 16px;
}
.intro .cart .price {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.intro .cart .old {
  opacity: 0.7;
  text-decoration: line-through;
}
.intro .iphone {
  max-width: 104px;
  background-color: #fff;
  padding: 19px 12px;
  border-radius: 16px;
}
.intro .bottom .list {
  display: flex;
  gap: 16px;
}
.intro .bottom .list__item {
  display: flex;
  gap: 21px;
  border-radius: 24px;
  background: var(--colors-slate-100, #f1f5f9);
  padding: 16px;
  align-items: start;
}
.intro .bottom .info-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.intro .bottom .info {
  color: var(--colors-slate-500, #64748b);
}

.smartphones,
.laptops {
  padding-block: 56px;
}
.smartphones .title-box,
.laptops .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.smartphones .title,
.laptops .title {
  font-size: 32px;
  font-weight: 500;
}
.smartphones .all,
.laptops .all {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  border-radius: 12px;
  background: var(--colors-slate-100, #f1f5f9);
}
.smartphones .cards,
.laptops .cards {
  display: flex;
  gap: 32px;
}
.smartphones .cards .card,
.laptops .cards .card {
  padding: 24px;
}
.smartphones .cards .main-box,
.laptops .cards .main-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 232px;
}
.smartphones .cards .tags,
.laptops .cards .tags {
  display: flex;
  gap: 4px;
  align-items: center;
}
.smartphones .cards .tag,
.laptops .cards .tag {
  display: flex;
  padding: 4px 8px;
  border-radius: 900px;
}
.smartphones .cards .discount,
.laptops .cards .discount {
  color: var(--colors-teal-600, #0d9488);
  background: var(--colors-teal-50, #f0fdfa);
}
.smartphones .cards .gift,
.laptops .cards .gift {
  color: #2563eb;
  background: var(--colors-blue-50, #eff6ff);
}
.smartphones .cards .phone-box img,
.laptops .cards .phone-box img {
  max-width: 232px;
  opacity: 1;
}
.smartphones .cards .info,
.laptops .cards .info {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}
.smartphones .cards .price-box,
.laptops .cards .price-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 14px;
  line-height: 110%;
  font-weight: 500;
}
.smartphones .cards .left,
.laptops .cards .left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.smartphones .cards .right,
.laptops .cards .right {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.smartphones .cards .old,
.laptops .cards .old {
  color: var(--colors-slate-500, #64748b);
  text-decoration: line-through;
  font-weight: 400;
}
.smartphones .cards .stock,
.laptops .cards .stock {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: var(--colors-slate-500, #64748b);
}
.smartphones .cards .buttons,
.laptops .cards .buttons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  margin-top: 16px;
}
.smartphones .cards .basket,
.laptops .cards .basket {
  padding: 14px;
  display: flex;
  align-items: center;
  gap: 63px;
  border-radius: 12px;
  background: var(--colors-slate-900, #0f172a);
  color: #fff;
}
.smartphones .cards .basket:hover path,
.laptops .cards .basket:hover path {
  fill: black;
}
.smartphones .cards .trash,
.laptops .cards .trash {
  z-index: 1;
}
.smartphones .cards .heart,
.laptops .cards .heart {
  background: var(--colors-slate-100, #f1f5f9);
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__item {
  transition: all 0.3s linear;
}

.list__item:hover {
  background: #0F172A !important;
}

.products .product .item .shopping .basket {
  transition: all 0.3s linear;
}

.products .product .item .shopping .basket:hover {
  background: #F1F5F9;
  color: black;
}

.products .product .item .shopping .basket:hover path {
  fill: black;
}

.products .product .item .shopping .heart {
  transition: all 0.3s linear;
}

.products .product .item .shopping .heart:hover {
  background: black;
}

.shopping .heart:hover path,
.list__item:hover path {
  fill: white;
}

.list__item:hover .desc,
.list__item:hover .info {
  color: white;
}

.header .right-box .list__item {
  padding: 14px 16px;
}

.list__link {
  height: 22px;
}

.laptops {
  padding: 0;
}

.gift {
  margin-block: 56px;
}
.gift .container {
  display: flex;
  gap: 32px;
}
.gift .container .left {
  background-image: url("../images/gift-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px;
  color: white;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  gap: 63px;
  align-items: end;
}
.gift .container .all {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  border-radius: 12px;
  background: white;
}
.gift .container .kdd {
  max-width: 337px;
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
}

.info-btn svg {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0F172A;
  /* boshlang'ich rang */
  transition: color 0.3s linear;
}

.info-btn svg:hover {
  color: white;
  /* hoverda oq bo'ladi */
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.info-h1 {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
  vertical-align: middle;
}
.info .btns {
  display: flex;
  gap: 12px;
}
.info .btns .btn {
  background: #F1F5F9;
  padding: 14px 18px;
  border-radius: 14px;
  width: 47px;
  height: 47px;
}
.info-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 16px;
  background: #F1F5F9;
  border-radius: 12px;
  transition: all 0.2s linear;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-img {
  max-width: 232px;
  max-height: 262px;
  margin: 0 auto;
}

.item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product-info {
  margin-top: auto;
}

.products {
  display: flex;
  gap: 32px;
  margin-bottom: 56px;
  align-items: stretch;
  height: unset !important;
}
.products .product {
  padding: 24px;
  max-width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products .product .info-item-top .info-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  vertical-align: middle;
  margin-bottom: 12px;
}
.products .product .price {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;
}
.products .product .price .price-p1 {
  color: #0D9488;
  background: #F0FDFA;
}
.products .product .price .price-p2 {
  color: #2563EB;
  background: #EFF6FF;
}
.products .product .price p {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  vertical-align: middle;
  border-radius: 900px;
  padding: 4px 8px;
}
.products .product .item .price {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  vertical-align: middle;
  margin-bottom: 12px;
}
.products .product .item .price .new-price {
  display: flex;
  align-items: center;
  gap: 4px;
}
.products .product .item .price .new-price p {
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  vertical-align: middle;
}
.products .product .item .price .old-price {
  font-weight: 400;
  line-height: 110%;
  vertical-align: middle;
}
.products .product .item .price .old-price .price-1 {
  color: black;
  display: block;
}
.products .product .item .price .old-price .price-2 {
  color: #64748B;
  text-decoration: line-through;
}
.products .product .item .product-number {
  display: flex;
  justify-content: space-between;
  color: #64748B;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  vertical-align: middle;
  margin-bottom: 16px;
}
.products .product .item .shopping {
  display: flex;
  gap: 12px;
}
.products .product .item .shopping .basket {
  color: white;
  background: #0F172A;
  display: flex;
  padding: 14px 16px;
  border-radius: 12px;
  gap: 63px;
  align-items: center;
  transition: all 0.2s linear;
}
.products .product .item .shopping .basket img {
  width: 16px;
  height: 16px;
}
.products .product .item .shopping .heart {
  background: #F1F5F9;
  padding: 12px;
  border-radius: 12px;
}

.liener-dad {
  display: flex;
  gap: 32px;
  margin-bottom: 56px;
}

.liener {
  background: url(../img/bc-img-1.png);
  padding: 32px;
  border-radius: 32px;
  width: 100%;
}
.liener .info {
  margin: 0;
}
.liener .info-btn {
  height: 44px;
  margin-top: 60px;
}
.liener .info h1 {
  color: white;
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
  vertical-align: bottom;
  margin-right: 62px;
}
.liener .nock {
  background: white;
  padding: 14px 16px;
}

.newsletter-section {
  background: url(../img/bc-img-4.png);
  width: 100%;
  height: 100%;
  max-width: 1220px;
  margin-inline: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 80px 360px;
  border-radius: 32px;
  margin-bottom: 56px;
}
.newsletter-section .newsletter-card {
  text-align: center;
}
.newsletter-section .newsletter-card .newsletter-title {
  font-size: 32px;
  line-height: 110%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  margin-bottom: 12px;
}
.newsletter-section .newsletter-card .newsletter-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  vertical-align: middle;
}
.newsletter-section .email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
.newsletter-section .email-form .form-group {
  width: 100%;
  max-width: 500px;
}
.newsletter-section .email-form .form-label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}
.newsletter-section .email-form .email-field {
  width: 192px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
  padding: 15px 16px;
  margin-right: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  vertical-align: middle;
}
.newsletter-section .email-form .email-field:focus {
  box-shadow: 0 0 0 4px rgba(13, 148, 136, 0.1);
  outline: none;
}
.newsletter-section .email-form .form-note {
  font-size: 14px;
  margin-top: 16px;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  vertical-align: middle;
}
.newsletter-section .email-form .submit-btn {
  width: auto;
  padding: 14px 16px;
  background: #0F172A;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 110%;
  vertical-align: middle;
}

.review-container.mySwiper {
  width: 378px;
}

.review-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
.review-container .review-card {
  background: #F1F5F9;
  border-radius: 24px;
  width: fit-content;
  padding: 24px;
  width: 384px !important;
  margin-right: 30px;
}
.review-container .review-card.swiper-slide {
  width: 384px;
}
.review-container .review-header span {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 50%;
  color: #0D9488;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.review-container .review-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.review-container .review-header .review-author {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  vertical-align: middle;
  margin-bottom: 8px;
}
.review-container .review-header .review-verified {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  vertical-align: middle;
  background-color: #0D9488;
  color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 900px;
}
.review-container .review-content h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  vertical-align: middle;
  color: #0F172A;
  margin-bottom: 8px;
}
.review-container .review-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  vertical-align: middle;
  color: #64748B;
  max-width: 336px;
  margin-bottom: 16px;
}
.review-container .review-content .product-container {
  border-radius: 16px;
  display: flex;
  gap: 12px;
}
.review-container .review-content .product-container img {
  border-radius: 16px;
  cursor: pointer;
}

.info {
  position: relative;
}

.btn {
  display: block;
}

.btn.swiper-button-prev {
  position: absolute;
  top: 22px;
  left: 930px;
}

.btn.swiper-button-next {
  position: absolute;
  top: 22px;
  left: 990px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}

.gstore-footer {
  background-color: #0F172A;
  font-family: Arial, sans-serif;
  color: #64748B;
  position: relative;
}
.gstore-footer .footer-container {
  display: flex;
  flex-direction: column;
  padding: 32px 72px 12px 72px;
}
.gstore-footer .footer-container .footer-asosiy {
  display: flex;
  gap: 85px;
}
.gstore-footer .footer-brand {
  width: fit-content;
  display: inline-block;
}
.gstore-footer .footer-logo {
  margin-bottom: 24px;
}
.gstore-footer .footer-copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  vertical-align: middle;
}

.footer-sections {
  display: flex;
  gap: 70px;
  margin-top: 22px;
}
.footer-sections .footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  vertical-align: middle;
  color: #fff;
  margin-bottom: 24px;
}
.footer-sections .footer-list li {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  vertical-align: middle;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #334155;
  display: flex;
  justify-content: space-between;
  padding: 16px 72px;
}

.btn-info {
  position: absolute;
  top: 0;
  right: 1217px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#swiper-wrapper-9c3adff0cdd95a71 {
  overflow-x: hidden;
}

@media (max-width: 1280px) {
  .container {
    max-width: calc(100% - 40px);
  }
}
@media (max-width: 1200px) {
  .intro .container {
    flex-direction: column;
    gap: 20px;
  }
  .footer-section {
    flex-wrap: wrap;
  }
  .btn-info {
    position: absolute;
    top: 0px;
    right: 915px;
  }
  .intro .container .left-box,
  .intro .container .right-box {
    max-width: 100%;
    width: 100%;
  }
  .intro .left-box .title {
    max-width: 100%;
  }
  .liener-dad {
    flex-direction: column;
    align-items: start;
    gap: 20px !important;
  }
  .liener .info {
    flex-direction: column;
    align-items: start;
  }
  .liener .info-btn {
    margin: 0;
  }
  .gstore-footer .footer-container .footer-asosiy {
    flex-direction: column;
  }
  .header .top .top-box {
    padding: 0;
    justify-content: space-around;
  }
  .header .right-box .list {
    gap: 0;
    margin-right: auto;
  }
  .nav__list {
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    vertical-align: middle;
  }
  .intro .left-box {
    padding: 16px;
  }
  .intro .left-box .bargain {
    font-weight: 400;
    font-size: 10px;
    line-height: 110%;
    vertical-align: middle;
    width: fit-content;
  }
  .intro .left-box .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    vertical-align: middle;
  }
  .intro .left-box .desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    vertical-align: middle;
  }
  .intro .left-box .choose-btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    vertical-align: middle;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    position: absolute;
    bottom: -8px !important;
    left: 0 !important;
  }
  .intro .bargain-box {
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    vertical-align: middle;
  }
  .intro .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    vertical-align: middle;
  }
  .intro .cart .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    vertical-align: middle;
  }
  .intro .cart .sale {
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    vertical-align: middle;
  }
  .intro .cart .price {
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    vertical-align: middle;
  }
  .nav {
    margin-top: 0;
  }
  .intro {
    margin-top: -45px;
  }
  .intro .bottom .list {
    gap: 8px;
  }
  .intro .container {
    gap: 30px;
  }
  .intro .bottom .list {
    margin-top: -55px;
  }
  .desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .intro .bottom .info {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    vertical-align: middle;
  }
  .intro .bottom .info-box {
    gap: 6px;
  }
  .list__item img {
    width: 24px;
    height: 24px;
  }
  .info {
    margin-top: -60px;
  }
  .info-h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    vertical-align: middle;
  }
  .info-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    background: none;
    padding: 0;
  }
  .products .product {
    padding: 0;
    max-width: 164px;
  }
  .product-img {
    width: 150px;
    height: 175px;
  }
  .products .product .item .info-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    vertical-align: middle;
  }
  .products .product .item .price .new-price {
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    vertical-align: middle;
  }
  .products .product .item .price .old-price {
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    text-align: right;
    vertical-align: middle;
  }
  .products .product .item .product-number {
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    vertical-align: middle;
  }
  .products .product .item .shopping .basket {
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    vertical-align: middle;
    gap: 31px;
    padding: 8px 12px;
  }
  .products .product .item .shopping .heart {
    padding: 9px;
    transition: all 0.2s linear;
    width: 32px;
    height: 32px;
  }
  .products .product .item .shopping .heart:hover {
    background: black;
  }
  .shopping .heart:hover path {
    fill: white;
  }
  .item .shopping .heart svg {
    width: 14px;
    height: 14px;
    opacity: 1;
  }
  .products .product .price .price-p1 {
    font-weight: 500;
    font-size: 10px;
    vertical-align: middle;
    padding: 4px 8px;
  }
  .products .product .price .price-p2 {
    display: none;
  }
  .info-box .info {
    flex-wrap: wrap;
  }
  .intro .bottom .list,
  .nav__list {
    scrollbar-width: none;
    overflow: auto;
  }
  .newsletter-section,
  .footer-sections,
  .header,
  #swiper-wrapper-2105e4010937e99d85,
  .btn-info {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header .bottom__links,
  .header .bottom .search-menu,
  .header .bottom .search-box {
    width: 100%;
  }
  .nav__list {
    margin-right: -20px;
    padding-right: 20px;
  }
}
@media (max-width: 700px) {
  body {
    overflow-y: inherit;
  }
  .container {
    max-width: 100% !important;
    margin: 0 auto;
    padding: 16px;
  }
  .header {
    max-width: 500px;
  }
  .header .top {
    width: 100%;
  }
  .header .top .first,
  .header .top .second {
    display: none;
  }
  .bottom .right-box .list__item {
    display: none;
  }
  .bottom .right-box .third {
    display: block;
  }
  .header .bottom .search-box {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
