.gstore-footer {
    background-color: #0F172A;
    font-family: Arial, sans-serif;
    color: #64748B;
    position: relative;

    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 32px 72px 12px 72px;
        .footer-asosiy{
            display: flex;
            gap: 85px;
        }
    }

    .footer-brand {
        width: fit-content;
        display: inline-block;
    }

    .footer-logo {
        margin-bottom: 24px;
    }

    .footer-copyright {
        font-weight: 400;
        font-size: 14px;
        line-height: 110.00000000000001%;
        vertical-align: middle;

    }
}

.footer-sections {
    display: flex;
    gap: 70px;
    margin-top: 22px;

    .footer-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 110.00000000000001%;
        vertical-align: middle;
        color: #fff;
        margin-bottom: 24px;
    }

    .footer-list li {
        margin-bottom: 17px;
        font-weight: 400;
        font-size: 16px;
        line-height: 110.00000000000001%;
        vertical-align: middle;

    }
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #334155;
    display: flex;
    justify-content: space-between;
    padding: 16px 72px;
}
