.btn-info{
    position: absolute;
    top: 0;
    right: 1217pxl;
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (max-width: 1280px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (max-width: 1200px) {
    .intro .container {
        flex-direction: column;
        gap: 20px;
    }
    .footer-section{
        flex-wrap: wrap;
    }

    .btn-info {
        position: absolute;
        top: 0px;
        right: 915px;
    }

    .intro .container .left-box,
    .intro .container .right-box {
        max-width: 100%;
        width: 100%;
    }

    .intro .left-box .title {
        max-width: 100%;
    }

    .liener-dad {
        flex-direction: column;
        align-items: start;
        gap: 20px !important;
    }

    .liener .info {
        flex-direction: column;
        align-items: start;
    }

    .liener .info-btn {
        margin: 0;
    }
    .gstore-footer .footer-container .footer-asosiy{
        flex-direction: column;
    }
}

@media (max-width: 1024px) {

    .header .bottom__links,
    .header .bottom .search-menu,
    .header .bottom .search-box {
        width: 100%;
    }

    .nav__list {
        margin-right: -20px;
        padding-right: 20px;
    }
}

@media (max-width: 700px) {
    body {
        overflow-y: inherit;
    }

    .container {
        max-width: 100% !important;
        margin: 0 auto;
        padding: 16px;
    }

    .header {
        max-width: 500px;

        .top {
            width: 540px;

            .first,
            .second {
                display: none;
            }
        }
    }

    .bottom {
        .right-box {
            .list__item {
                display: none;
            }

            .third {
                display: block;
            }
        }
    }

    .header .bottom .search-box {
        width: 100%;
    }
}