.newsletter-section {
    background: url(../img/bc-img-4.png);
    width: 100%;
    height: 100%;
    max-width: 1220px;
    margin-inline: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 80px 360px;
    border-radius: 32px;
    margin-bottom: 56px;

    .newsletter-card {
        text-align: center;

        .newsletter-title {
            font-size: 32px;
            line-height: 110.00000000000001%;
            text-align: center;
            vertical-align: middle;
            color: #fff;
            margin-bottom: 12px;
        }

        .newsletter-text {
            font-weight: 400;
            font-size: 15px;
            line-height: 140%;
            text-align: center;
            vertical-align: middle;


        }
    }

    .email-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;

        .form-group {
            width: 100%;
            max-width: 500px;

        }

        .form-label {
            display: block;
            font-size: 18px;
            font-weight: 600;
            color: #333;
            margin-bottom: 15px;
            text-align: center;
        }

        .email-field {
            width: 192px;
            border: none;
            border-radius: 10px;
            transition: all 0.3s;
            padding: 15px 16px;
            margin-right: 16px;
            font-weight: 400;
            font-size: 14px;
            line-height: 110.00000000000001%;
            vertical-align: middle;

            &:focus {

                box-shadow: 0 0 0 4px rgba(13, 148, 136, 0.1);
                outline: none;
            }
        }

        .form-note {
            font-size: 14px;
            margin-top: 16px;
            line-height: 1.5;
            text-align: center;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            text-align: center;
            vertical-align: middle;

        }

        .submit-btn {
            width: auto;
            padding: 14px 16px;
            background: #0F172A;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 500;
            font-size: 14px;
            line-height: 110.00000000000001%;
            vertical-align: middle;

        }
    }
}