.review-container.mySwiper {
    width: 378px;
}

.review-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;

    .review-card {
        background: #F1F5F9;
        border-radius: 24px;
        width: fit-content;
        padding: 24px;
        width: 384px !important;
        margin-right: 30px;
    }

    .review-card.swiper-slide {
        width: 384px;
    }

    .review-header span {
        padding: 20px;
        background: #FFFFFF;
        border-radius: 50%;
        color: #0D9488;
        font-weight: 500;
        font-size: 16px;
        line-height: 110.00000000000001%;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;

    }

    .review-header {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 16px;

        .review-author {
            font-weight: 500;
            font-size: 16px;
            line-height: 110.00000000000001%;
            vertical-align: middle;
            margin-bottom: 8px;

        }

        .review-verified {
            font-weight: 500;
            font-size: 12px;
            line-height: 120%;
            vertical-align: middle;
            background-color: #0D9488;
            color: #FFFFFF;
            padding: 4px 8px;
            border-radius: 900px;
        }
    }

    .review-content h3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 110.00000000000001%;
        vertical-align: middle;
        color: #0F172A;
        margin-bottom: 8px;
    }

    .review-content p {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        vertical-align: middle;
        color: #64748B;
        max-width: 336px;
        margin-bottom: 16px;
    }

    .review-content {
        .product-container {
            border-radius: 16px;
            display: flex;
            gap: 12px;
        }

        .product-container img {
            border-radius: 16px;
            cursor: pointer;
        }
    }
}

.info {
    position: relative;
}

.btn {
    display: block;
}

.btn.swiper-button-prev {
    position: absolute;
    top: 22px;
    left: 930px;
}
.btn.swiper-button-next{
    position: absolute;
    top: 22px;
    left: 990px;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after{
    display: none;
}